__pycache__/
*.pyc
.pycache_tmp/
.env
.env.*
env.env
bot_token.txt
token.txt
.venv/
venv/
.npm-cache/
.patches/
.git-repair-temp/
.tmp/
.vscode/*
!.vscode/settings.json
*.db
bot.log
gcm-diagnose.log
kampf log *.txt
*.rar
Neuer Ordner/
